<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <!-- Template Driven Forms -->
      <!--<form #regForm="ngForm" (ngSubmit)="saveForm(regForm.value, regForm.valid)">
          <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required minlength="6" />
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">Name is required</div>
              <div [hidden]="!name.errors.minlength">Name should be of minimum 5 characters</div>
          </div>
          </div>
          <div class="form-group">
          <label for="salary">Salary</label>
          <input type="number" name="salary" [(ngModel)]="model.salary" #salary="ngModel" />
          </div>
          <button type="submit" [disabled]="!regForm.valid" class="btn btn-info">Submit</button>  
      </form>-->
      <!-- Model Driven Form -->
      <form [formGroup]="RegForm" novalidate (ngSubmit)="saveForm(RegForm)">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control"
            formControlName="name"/>
            <small *ngIf="!RegForm.controls.name.valid" class="text-danger">
              Name is required (minimum 5 characters).
            </small>
          </div>
          <!-- Addreses -->
          <div formArrayName="addresses">
            <div *ngFor="let address of RegForm.controls.addresses.controls; let i=index"
            class="panel panel-default">
            <div class="panel-heading">
              <span>Address {{i+1}}</span>
              <span class="glyphicon glyphicon-remove pull-right"
              *ngIf="RegForm.controls.addresses.length > 1" (click)="removeAddress(i)">
              </span>
            </div>
              <div class="panel-body" [formGroupName]="i">
                <div class="form-group col-xs-6">
                  <label>street</label>
                  <input type="text" class="form-control" 
                  formControlName="street">
                  <small [hidden]="RegForm.controls.addresses.controls[i].controls.street.valid" class="text-danger">
                    Street is required
                  </small>
                </div>
                <div class="form-group col-xs-6">
                  <label>Post Code</label>
                  <input type="text" class="form-control"
                  formControlName="postcode">
                  <small [hidden]="RegForm.controls.addresses.controls[i].controls.postcode.valid" class="text-danger">
                    Post Code is required
                  </small>
                </div>
              </div>
            </div>
          </div>

          <!-- Add New Address Button -->
          <div class="margin-20">
            <a (click)="addAddress()" style="cursor:default">
              Add another address +
            </a>
          </div>
          <div class="margin-20">
            <button type="submit" class="btn btn-primary pull-right" [disabled]=!RegForm.valid>Submit</button>
          </div>
          <div class="clearfix"></div>
          <div class="margin-20">
            <div>myForm details:-</div>
            <pre>
              Is RegForm Valid ?:
              <br>{{RegForm.valid | json}}</pre>
            <pre>
              Form Value:
              <br>
              {{ RegForm.value | json }}
            </pre>
          </div>
      </form>
    </div>
  </div>
</div>